$btn-boder-radius = 3px
$color-danger = #c10500
$color-sucess = #5cb85c
$color-warning = #f0ad4e

.btn
	border-radius $btn-boder-radius
	padding 10px 40px
	color: $btn-text
	background-color: $btn-bg
	transition color 1s, box-shadow 1s
	&:hover
		background-color: $btn-bg
		color: $btn-text
		box-shadow: 2px 0px 8px $shadow-color
	&:focus
		background-color: $btn-bg
		color: $btn-text
	&:active
		background-color: $btn-bg
		color: $btn-text

.btn-danger
.btn-success
.btn-warning
	border-radius $btn-boder-radius
	padding 10px 40px
	color: $btn-text

.btn-danger
	background-color $color-danger
	&:hover
		background-color lightness($color-danger, 40%)

.btn-success
	background-color $color-sucess
	&:hover
		background-color lightness($color-sucess, 40%)

.btn-warning
	background-color $color-warning
	&:hover
		background-color lightness($color-warning, 40%)

for btns, value in $colors
	.btn-{btns}
		background-color value
		&:hover
			background-color alpha(value,  1)
