a 
a:hover
    color white 
    text-decoration none
.chamanento
    text-align center 
    img
        margin-bottom 20px

.manifiesto-desc
    padding 10px
    h5
        padding-top 20px
        padding-right 10px
        padding-left 10px
        border-top 1px solid lightgray
.logobiz
    position absolute
    bottom 10px
    width 100%    
    img
        max-width 40px
        margin-left auto
        margin-right auto
.flex-wrapper
    display flex
    width 100%
    height 100%
    &  > *
        width 100%
        align-self center
.tecladBtn
    max-width: 700px;
    padding: 20px;
.logoMetanoia-bottom
    position absolute 
    top 10px
    width 100%
    text-align center
    img 
        max-width 120px
        max-width auto
.w-btns
    max-width 467px
    margin-top 40px
    display flex
    background-color #353333
    color white
    border-radius 5px
    justify-content center
    flex-wrap wrap
    box-shadow 2px 4px 2px darkgray
    padding 20px
    margin: auto
    padding-top 40px
    padding-bottom 40px
    border 2px solid black
    border-left 5px solid lighten(black, 15%)
    border-bottom 5px solid black
    border-top 1px solid #232222
    .btn-chamamento
        align-self center
        width 32%
        height 80px
        text-align center
        padding 5px
        margin-top 10px
        .clicavel
            border 1px solid black
            border-bottom 3px solid black
            cursor pointer
            background-color #272424
            border-radius: 5px
            &:active
                border-bottom 1px solid black
                box-shadow inset 4px 4px 10px rgba(0,0,0,0.8), 0 0 10px rgba(0,0,0,0)
                background-color #232222
            h4 
                margin 0
                padding 0
.btns-main
    border 1px solid black
    border-bottom 3px solid black
    cursor pointer
    background-color #272424
    border-radius: 2px
    color white
    padding: 10px 30px
    font-size: 20px
.confirmar
    border 1px solid darken(#0baf4c, 20%)
    background-color #0baf4c
    border-bottom 3px solid darken(#0baf4c, 50%)
    &:active
        border-bottom 1px solid black
        box-shadow inset 4px 4px 4px rgba(0,0,0,0.3), 0 0 10px rgba(0,0,0,0)
        background-color darken(#0baf4c, 20%)
[disabled]
    border 1px solid darken(gray, 20%)
    background-color gray
    border-bottom 3px solid darken(gray, 50%)
.corrigir
    border 1px solid darken(#ea5b0c, 20%)
    background-color #ea5b0c
    border-bottom 3px solid darken(#ea5b0c, 50%)
    &:active
        border-bottom 1px solid black
        box-shadow inset 4px 4px 4px rgba(0,0,0,0.3), 0 0 10px rgba(0,0,0,0)
        background-color darken(#ea5b0c, 20%)                

.teclado
    max-width: 700px;
    padding: 20px;
    background-color: white;
    box-shadow: 1px 1px 2px #bfbebe
    button 
        width 48%

.manifesto
    margin: auto;
    border-radius: 100%;
.logobiz-bottom
    position absolute 
    bottom 10px
    width 100%
    text-align center
    img 
        margin auto
        max-width 30px
.w-visor
    position relative
    height: 660px;
    max-width: 620px;
    margin: auto;
    border: 4px solid #fff;
    text-align: center;
    border-left: 4px solid #e6e6e6;
    border-bottom: 2px solid #f5eeee;
    border-radius: 10px;
    box-shadow: inset 2px 2px 2px rgba(0,0,0,0.2), 0 0 10px rgba(0,0,0,0);
    background-color: #fffff9;
    margin-top: 0;
    h1 
        font-size: 200px

@media screen and (max-width: $queries['medium'])
    .artigo-w
        .dia 
            font-size: 45px
    .artigo-textos
        padding-left: 20px              
        h4
            text-align: left
        p 
            text-align: left



        