
@font-face {
  font-family: 'Flexo-Regular';
  src: url('../fonts/Flexo-Regular.eot');
  src: url('../fonts/Flexo-Regular.woff') format('woff'),
       url('../fonts/Flexo-Regular.ttf') format('truetype'),
       url('../fonts/Flexo-Regular.svg#Flexo-Regular') format('svg'),
       url('../fonts/Flexo-Regular.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}


