/**
	Tudo relativo a font é criado nesse arquivo
*/

p, .font-style 
	letter-spacing remify($letterSpacing)
	margin-bottom remify(20px)

create-hs()
	for hs, value in $hs-sizes
		{hs}
			font-size remify(value)
		@media screen and (max-width: $queries['medium'])
			{hs}
				font-size remify(value) * $font-medium
				text-align $font-medium-align
		@media screen and (max-width: $queries['small'])
			{hs}
				font-size remify(value) * $font-xs
				text-align $font-xs-align
				
// /cria tamanhos diferentes para as fontes
fonts-size( )
	for fonts, value in $font-size
		.font-{fonts}
			@extend .font-style
			font-size value

.capitular:first-letter
	font-size: 30px
	float: left
	margin-right: 5px
	font-weight: bold


create-hs()
fonts-size()