body
	font 100%
	font-family $fonts-family
	color: 		$font-color-default
	
p
	font-size: $font-size['medium']
	
h1
	font-weight: lighter

blockquote
	border-left: 5px solid $colors['main']

.flex
	flexBox()
	
