
// Breakpoints
$queries = {
	'small' : 576px,
	'medium' : 768px,
	'large' : 992px,
	'x-large': 1200px
}
// COLORS //
$colors = {
	'black': #211915,
	'text': #211915
	'futura': #20388A,
	'escola': #84C140,
	'pintor': #FFCB08,
	'universidade' :#009CC4,
	'inverse':white,
	'carmem': #EAEBE3
}

$shadow-color = #9e9c9c;

// fonts
$fonts-family = 'Flexo-Regular', sans-serif

$font-color-default = $colors['text']

// defina os tamanhos da tag H
$hs-sizes = {
	'h1' : 45px,
	'h2' : 36px,
	'h3' : 30px,
	'h4' : 28px,
	'h5' : 25px,
	'h6' : 20px
}


// fonts porcentagem em monitores abaixo de 728
$font-medium = 0.9;
$font-medium-align = left

// fonts porcentagem 528
$font-xs = 0.7;
$font-xs-align = center

// btn default setting
$btn-bg = $colors['futura']
$btn-text = $colors['inverse']

// tamanho de fontes
$font-size = {
	'extra-small' 	: 9px,
	'small' 		: 12px,
	'medium'		: 15px,
	'large'			: 18px,
	'extra-large'	: 22px		
}
$letterSpacing = 1px
$lineHeight = 30px

// padding
$pad_marg = {
	'20' : 20px,
	'40' : 40px,
	'60' : 60px,
	'80' : 80px
}