extends ./_layouts/bootstrap.pug

block content
    .flex-wrapper
        .container-fluid
            .col-sm-12.visor.text-center
                .chamanento
                    img.logo(src="./img/logo-azul.png", alt="CHAMAmento", style="max-width:60px")
                h4(style="margin-top:30px") Obrigado pelo seu voto.                                  
                .pd-20-top.text-center
                    a(href="./urna.html", ontouchstart="").btns-main.confirmar Novo voto

        audio#sonFinalizar(src="./sons/finalizar.mp3")


            
            

            

block append scriptsJS 
    script(src="js/app.final.js")