// se for usar font-face coloque neste arquivo
@import 'app/font-face'

// principais variaveis do projeto
@import 'app/variables'

// arquivos com classes uteis
@import 'app/utils'

// principais funcoes 
@import 'app/mixins'

// cores de texto e bgs
@import 'app/colors'

// caracteristicas das fontes
@import 'app/fonts'

// se precisar estilizar alguma tag
@import 'app/tags'

// formularios
@import 'app/input'

// botões
@import 'app/btn'

// margin e paddings
@import 'app/gaps'

// estilo para o header
@import 'app/header'

// estilo para o loader
@import 'app/loader'

// estilo para o footer
@import 'app/content'

// estilo para o footer
@import 'app/footer'

// animações css
@import 'app/animation'

// estilos para serem inseridos apenas no browser EDGE
@import 'app/edgeOnly'